@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    display: flex;
    padding: 0px;
    list-style: none;
    gap: 20px;
    margin: 15px;
}

li {
    margin-left: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
}

nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background: black;
    margin: 0;
    list-style: none;
}

h3 {
    font-size: 25px;
    text-align: center;
}

section {
    align-content: space-around;
    flex-shrink: 0;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%;
}

article {
    flex: 0 0 calc(20% - 20px);
    height: auto;
    min-width: 200px;
    text-align: center;
    flex-grow: 1;
    margin: 10px;
    max-width: 595px;
}

@media (max-width: 705px) {
    section {
        max-width: 90%;
        flex-direction: column;
    }

    article p {
        font-size: 20px;
        color: gray;
    }
}

@media (max-width: 670px) {
    header {
        padding: 10px;
        font-size: 40px;
    }

    header>a {
        font-size: 40px;
        padding: 5px;
    }

    header a {
        display: block;
    }

    ul {
        display: block;
        margin: 0px;
    }

    li {
        background-color: gray;
        margin: 8px;
        font-size: 15px;
    }

    section article {
        margin: 25px;
    }
}